examples/node-red/rs-status-flow.json
[{"id":"681d10bcbf168ad5","type":"tab","label":"RS status","disabled":false,"info":"","env":[]},{"id":"b7ee2b758f0d84b4","type":"group","z":"681d10bcbf168ad5","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["cc1fd7a00a45d479","a47264e221a104d7","9720704147170bf1","6146bce9be9e84f4","3dd7aec0ddfb3ca5","370b4901df51d21b","06e1d53d5a91cbb2"],"x":934,"y":539,"w":552,"h":362},{"id":"ae4bce9381c696e2","type":"group","z":"681d10bcbf168ad5","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["f8d430fe9dacd765","848db1d9826ff086","5642aa42b36a39a1","a616a4d21b39ac02","d8018ec67607efba"],"x":654,"y":259,"w":952,"h":162},{"id":"f1292201af66c7ef","type":"group","z":"681d10bcbf168ad5","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["24f144e98ef3c3e3","f5785d03578613d9","ebe9767b22d42ce9"],"x":114,"y":299,"w":472,"h":597},{"id":"cc1fd7a00a45d479","type":"api-call-service","z":"681d10bcbf168ad5","g":"b7ee2b758f0d84b4","name":"30 min beredskap","server":"ae1d7ce7.6cd8f","version":7,"debugenabled":false,"action":"scene.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["scene.no_area_rs30minberedskap"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"scene","service":"turn_on","x":1330,"y":620,"wires":[[]]},{"id":"a47264e221a104d7","type":"switch","z":"681d10bcbf168ad5","g":"b7ee2b758f0d84b4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"30 min beredskap","vt":"str"},{"t":"eq","v":"60 min beredskap","vt":"str"},{"t":"eq","v":"Ledig, på basen/patrulje","vt":"str"},{"t":"eq","v":"UAD","vt":"str"},{"t":"eq","v":"På oppdrag","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":1110,"y":700,"wires":[["cc1fd7a00a45d479"],["9720704147170bf1"],["6146bce9be9e84f4"],["3dd7aec0ddfb3ca5"],["370b4901df51d21b"]]},{"id":"9720704147170bf1","type":"api-call-service","z":"681d10bcbf168ad5","g":"b7ee2b758f0d84b4","name":"60 min beredskap","server":"ae1d7ce7.6cd8f","version":7,"debugenabled":false,"action":"scene.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["scene.no_area_rs60minberedskap"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"scene","service":"turn_on","x":1330,"y":680,"wires":[[]]},{"id":"6146bce9be9e84f4","type":"api-call-service","z":"681d10bcbf168ad5","g":"b7ee2b758f0d84b4","name":"Ledig, på basen/patrulje","server":"ae1d7ce7.6cd8f","version":7,"debugenabled":true,"action":"scene.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["scene.no_area_rsledigpatrulje"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"scene","service":"turn_on","x":1350,"y":740,"wires":[[]]},{"id":"3dd7aec0ddfb3ca5","type":"api-call-service","z":"681d10bcbf168ad5","g":"b7ee2b758f0d84b4","name":"UAD","server":"ae1d7ce7.6cd8f","version":7,"debugenabled":true,"action":"scene.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["scene.no_area_rsuad"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"scene","service":"turn_on","x":1290,"y":800,"wires":[[]]},{"id":"370b4901df51d21b","type":"api-call-service","z":"681d10bcbf168ad5","g":"b7ee2b758f0d84b4","name":"På oppdrag","server":"ae1d7ce7.6cd8f","version":7,"debugenabled":true,"action":"scene.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["scene.no_area_pa_oppdrag"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"scene","service":"turn_on","x":1310,"y":860,"wires":[[]]},{"id":"f8d430fe9dacd765","type":"api-call-service","z":"681d10bcbf168ad5","g":"ae4bce9381c696e2","name":"","server":"ae1d7ce7.6cd8f","version":7,"debugenabled":true,"action":"notify.mobile_app_torsteins_galaxy_s22","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"payload","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"notify","service":"mobile_app_torsteins_galaxy_s22","x":1420,"y":380,"wires":[[]]},{"id":"24f144e98ef3c3e3","type":"poll-state","z":"681d10bcbf168ad5","g":"f1292201af66c7ef","name":"Poll RS vessel status","server":"ae1d7ce7.6cd8f","version":3,"exposeAsEntityConfig":"","updateInterval":"120","updateIntervalType":"num","updateIntervalUnits":"seconds","outputInitially":true,"outputOnChanged":false,"entityId":"sensor.rs_vessel_status","stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"string","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"sensor.rs_vessel_status","valueType":"str"}],"x":240,"y":600,"wires":[["f5785d03578613d9"]]},{"id":"f5785d03578613d9","type":"function","z":"681d10bcbf168ad5","g":"f1292201af66c7ef","name":"Fan out RS fields","func":"const entity = msg.data || {};\nconst attr = entity.attributes || entity.data?.attributes || {};\nconst state = msg.payload;\n\nconst make = (topic, payload) => ({ topic, payload });\n\nreturn [\n  make(\"entity\", entity),\n  make(\"attributes\", attr),\n  make(\"status\", state),\n  make(\"ok\", attr.ok),\n  make(\"raw_status\", attr.raw_status),\n  make(\"status_id\", attr.status_id),\n  make(\"status_color\", attr.status_color),\n  make(\"status_reason\", attr.status_reason),\n  make(\"status_note\", attr.status_note),\n  make(\"state\", attr.state),\n  make(\"state_description\", attr.state_description),\n  make(\"expected_back\", attr.expected_back),\n  make(\"rs\", attr.rs),\n  make(\"name\", attr.name),\n  make(\"mmsi\", attr.mmsi),\n  make(\"callsign\", attr.callsign),\n  make(\"class\", attr.class),\n  make(\"vessel_type\", attr.vessel_type),\n  make(\"station\", attr.station),\n  make(\"station_code\", attr.station_code),\n  make(\"station_region\", attr.station_region),\n  make(\"station_type\", attr.station_type),\n  make(\"timestamp\", attr.timestamp),\n  make(\"position_source\", attr.position_source),\n  make(\"latitude\", attr.latitude),\n  make(\"longitude\", attr.longitude),\n  make(\"decimal_latitude\", attr.decimal_latitude),\n  make(\"decimal_longitude\", attr.decimal_longitude),\n  make(\"image_url\", attr.image_url),\n  make(\"boats_source\", attr.boats_source),\n  make(\"ais_source\", attr.ais_source),\n  make(\"served_at\", attr.served_at),\n  make(\"stale\", attr.stale),\n  make(\"upstream_error\", attr.upstream_error),\n  make(\"selector\", attr.selector),\n  make(\"ais\", attr.ais)\n];","outputs":36,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":600,"wires":[[],["d8018ec67607efba"],[],[],["a47264e221a104d7"],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[]]},{"id":"848db1d9826ff086","type":"function","z":"681d10bcbf168ad5","g":"ae4bce9381c696e2","name":"function 4","func":"const a = msg.payload || {};\n\nconst tsRaw = a.timestamp || a.ais?.time_stamp || a.served_at || null;\n\nconst ts = tsRaw\n  ? new Date(tsRaw).toLocaleString(\"nb-NO\", {\n      timeZone: \"Europe/Oslo\",\n      year: \"numeric\",\n      month: \"2-digit\",\n      day: \"2-digit\",\n      hour: \"2-digit\",\n      minute: \"2-digit\"\n    })\n  : \"ukjent\";\n\nconst vesselName = a.name || \"Ukjent fartøy\";\nconst statusText = a.raw_status || a.status || \"Ukjent status\";\nconst station = a.station || \"Ukjent stasjon\";\nconst region = a.station_region ? ` (${a.station_region})` : \"\";\nconst details = `RS: ${a.rs || \"-\"} • MMSI: ${a.mmsi || \"-\"} • Callsign: ${a.callsign || \"-\"}`;\nconst staleNote = a.stale ? \"\\n⚠️ Data kan være forsinket.\" : \"\";\n\nmsg.payload = {\n  title: vesselName,\n  message: `${statusText}\\nStasjon: ${station}${region}\\n${details}\\nSist oppdatert: ${ts}${staleNote}`,\n  data: {\n    image: a.image_url || undefined,\n    clickAction: \"entityId:sensor.rs_vessel_status\",\n    tag: \"rs_vessel_status\",\n    group: \"rs_status\"\n  }\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":380,"wires":[["28ce8279333d0a64","f8d430fe9dacd765"]]},{"id":"5642aa42b36a39a1","type":"rbe","z":"681d10bcbf168ad5","g":"ae4bce9381c696e2","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"status_key","topi":"topic","x":990,"y":380,"wires":[["22d1800ac5e5000c","848db1d9826ff086"]]},{"id":"06e1d53d5a91cbb2","type":"comment","z":"681d10bcbf168ad5","g":"b7ee2b758f0d84b4","name":"Philips hue control","info":"Hue control\n\nControls Hue scenes based on the current RS vessel raw status.\n\n- Reads the vessel status from msg.payload\n- Compares the status text in a switch node\n- Matches known statuses like:\n  - 30 min beredskap\n  - 60 min beredskap\n  - Ledig, på basen/patrulje\n  - UAD\n  - På oppdrag\n- Sends the message to the matching output only\n- Calls the correct Home Assistant scene.turn_on service\n- Activates the Hue scene linked to that vessel status\n\nPurpose:\n- Changes Hue lighting automatically to reflect vessel status\n- Makes the current rescue boat status visible in the room\n- Uses Home Assistant scenes as the bridge to Hue","x":1050,"y":580,"wires":[]},{"id":"a616a4d21b39ac02","type":"comment","z":"681d10bcbf168ad5","g":"ae4bce9381c696e2","name":"Phone notification","info":"function 5: \ndifferent boat, same status → notify\nsame boat, different status → notify\nsame boat, same status → block\n\nFunction 4:\nFormats RS vessel data from msg.payload into a mobile notification.\n\n- Uses vessel name as the notification title\n- Uses raw_status or status as the main status text\n- Adds station and station region\n- Adds RS number, MMSI, and callsign\n- Converts timestamp to Europe/Oslo local time\n- Adds a warning if data is stale\n- Includes vessel image in the notification\n- Adds tap action to open sensor.rs_vessel_status in Home Assistant\n\nOutput:\n- msg.payload.title\n- msg.payload.message\n- msg.payload.data.image\n- msg.payload.data.clickAction\n- msg.payload.data.tag\n- msg.payload.data.group","x":770,"y":300,"wires":[]},{"id":"ebe9767b22d42ce9","type":"comment","z":"681d10bcbf168ad5","g":"f1292201af66c7ef","name":"Poll RS vessel staus","info":"Fan out RS fields\n\nReads the full RS vessel object and splits it into separate messages.\n\n- Takes the vessel data from msg.data / entity payload\n- Extracts the full attributes object\n- Keeps the main status/state value\n- Creates one output message per field\n- Sets msg.topic to the field name\n- Sets msg.payload to the field value\n- Sends full entity and full attributes to their own outputs\n- Sends each important RS field to separate debug nodes\n\nPurpose:\n- Makes it easy to inspect all vessel fields in Node-RED\n- Helps verify what Home Assistant is receiving\n- Useful for testing before building automations or notifications","x":230,"y":340,"wires":[]},{"id":"28ce8279333d0a64","type":"debug","z":"681d10bcbf168ad5","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1380,"y":200,"wires":[]},{"id":"22d1800ac5e5000c","type":"debug","z":"681d10bcbf168ad5","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1160,"y":200,"wires":[]},{"id":"d8018ec67607efba","type":"function","z":"681d10bcbf168ad5","g":"ae4bce9381c696e2","name":"function 5","func":"msg.status_key = `${msg.payload?.mmsi || \"\"}|${msg.payload?.raw_status || msg.payload?.status || \"\"}`;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":380,"wires":[["5642aa42b36a39a1"]]},{"id":"ae1d7ce7.6cd8f","type":"server","name":"Home Assistant","version":6,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":["y","yes","true","on","home","open"],"connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"f0fe8372cee87b96","type":"global-config","env":[],"modules":{"node-red-contrib-home-assistant-websocket":"0.80.3"}}]
